head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title VStyle
body
  .container
    .header.grid
      a(href='#').header__btn-back.btn-round
      .header__text Пласидо Доминго на фестивале Звезды Белых Ночей
          span.header__subtext 24 мая, вторник в 17:00 Мариинский-2

      button.header__btn-parvalue.btn-round Номинал: 5 000 р
      button.header__btn-lang.btn-round ru
      button.header__btn-close.btn-close.btn-round

    .hall
      .hall__table
        .table__cell
          .hall__table.hall__group_cheap
            - let num = 3; for(let i = 1; i <= num; i++) {
            .table__row
              .table__cell
                .hall__seat
                  .seat
              .table__cell
                .hall__seat
                  .seat
            - }
            .table__row
              .table__cell
                .hall__seat
              .table__cell
                .hall__seat
            - let num2 = 3; for(let i = 1; i <= num2; i++) {
            .table__row
              .table__cell
                .hall__seat
                  .seat.seat_free
              .table__cell
                .hall__seat
                  .seat
            - }
            .table__row
              .table__cell
                .hall__seat
              .table__cell
                .hall__seat
            - let num3 = 2; for(let i = 1; i <= num3; i++) {
            .table__row
              .table__cell
                .hall__seat
                  .seat
              .table__cell
                .hall__seat
                  .seat.seat_free
            - }

        .table__cell
          .hall__table
            - let num0 = 12; for(let i = 1; i <= num0; i++) {
              .table__row
                .table__cell
                .hall__seat
            - }

        .table__cell
          .hall__table.hall__group_cheap
            - let num4 = 2; for(let i = 1; i <= num4; i++) {
              .table__row
              - let num5 = 10; for(let i = 1; i <= num5; i++) {
                .table__cell
                  .hall__seat
                    .seat.seat_free.seat_checked
                - }
            - }
          .hall__table.hall__group_middle
            - let num6 = 2; for(let i = 1; i <= num6; i++) {
              .table__row
              - let num7 = 10; for(let i = 1; i <= num7; i++) {
                .table__cell
                  .hall__seat
                    .seat.seat_free
                - }
            - }
          .hall__table.hall__group_cheap
            - let num8 = 3; for(let i = 1; i <= num8; i++) {
              .table__row
                - let num9 = 10; for(let i = 1; i <= num9; i++) {
                .table__cell
                  .hall__seat
                    .seat.seat_free
                - }
            - }
          .hall__table.hall__group_expensive
            - let num10 = 3; for(let i = 1; i <= num10; i++) {
              .table__row
                - let num11 = 10; for(let i = 1; i <= num11; i++) {
                .table__cell
                  .hall__seat
                    .seat.seat_free
                - }
            - }
          .hall__table.hall__group_expensive
            - let num12 = 2; for(let i = 1; i <= num12; i++) {
            .table__row
              .table__cell
                .hall__seat
              - let num13 = 8; for(let i = 1; i <= num13; i++) {
              .table__cell
                .hall__seat
                  .seat.seat_free
              - }
              .table__cell
                .hall__seat
            - }
          .table__row
            - let num00 = 10; for(let i = 1; i <= num00; i++) {
            .table__cell
              .hall__seat
            - }

        .table__cell
          .hall__table
            - let num000 = 12; for(let i = 1; i <= num000; i++) {
              .table__row
                .table__cell
                .hall__seat
            - }

        .table__cell
          .hall__table.hall__group_cheap
            - let num14 = 10; for(let i = 1; i <= num14; i++) {
            .table__row
              .table__cell
                .hall__seat
                  .seat
              .table__cell
                .hall__seat
                  .seat
            - }

      .hall__table.hall__group_cheap
        .table__row
          - let num5 = 16; for(let i = 1; i <= num5; i++) {
          .table__cell
            .hall__seat
              .seat.seat_free
          - }

    .checkbox
      label.checkbox__container
        input(type="checkbox").checkbox__input
        .checkbox__pseudo-input
          .checkbox__switch
            .checkbox__ok
            .checkbox__text lock fare for 48 hours
            .checkbox__subtext 3.00 Euro

    .progressBar
      .progressBar__container.progressBar__container_updated
        .progressBar__unit.progressBar__unit_first.progressBar__unit_done
          .progressBar__unit-container
            .progressBar__circle
              span.progressBar__label 1
            .progressBar__text some text
        .progressBar__unit.progressBar__unit_done
          .progressBar__segment
          .progressBar__unit-container
            .progressBar__circle
              span.progressBar__label 2
            .progressBar__text some text
        - let numb2 = 8; for(let i = 3; i <= numb2; i++) {
          .progressBar__unit
            .progressBar__segment
            .progressBar__unit-container
              .progressBar__circle
                span.progressBar__label=i
              .progressBar__text some text
        - }
        .progressBar__unit
          .progressBar__segment
          .progressBar__unit-container
            .progressBar__circle
              span.progressBar__label 9
            .progressBar__text some text

      .progressBar__container.progressBar__container_animated
        .progressBar__unit.progressBar__unit_first.progressBar__unit_done
          .progressBar__unit-container
            .progressBar__ready-to-fill
            .progressBar__circle
              .progressBar__filling-block.progressBar__filling-block_circle
              span.progressBar__label 1
            .progressBar__text some text
        label.progressBar__unit
          input(type="checkbox").progressBar__checkbox
          .progressBar__segment
            .progressBar__filling-block.progressBar__filling-block_segment
          .progressBar__unit-container
            .progressBar__ready-to-fill
            .progressBar__circle
              .progressBar__filling-block.progressBar__filling-block_circle
                span.progressBar__label 2
            .progressBar__text some text
        .progressBar__unit
          .progressBar__segment
            .progressBar__filling-block.progressBar__filling-block_segment
          .progressBar__unit-container
            .progressBar__ready-to-fill
            .progressBar__circle
              .progressBar__filling-block.progressBar__filling-block_circle
                span.progressBar__label 3
            .progressBar__text some text





