head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title VStyle
body
  .container
    .gift-certificate
      - for (let i=0; i<3; i++) {
        .gift-certificate__item
          a(href='#').gift-certificate__title.lg-title Подарочный сертификат
          .grid
            .gift-certificate__price
              span от 500 руб.
            p.gift-certificate__text Сертификат на все мероприятия Мариинского театра
            .gift-certificate__logo.logo
      - }



