head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title VStyle
body
  .container
    .payment
      button.payment__btn-close.btn-close
      a(href='#').payment__back
        span.back__arrow
        span.back__text Выбрать сертификат
      .payment__logo Мариинский театр
        span.logo
      .payment__service-list
        .service__scroll.grid
          - let num = 4; for(let i = 1; i <= num; i++) {
          - const content = ['Доставка | 1x1500 | 1500р', 'Сертификат| 2x1000 | 2000р', 'Сертификат| 4x500 | 2000р', 'Сертификат | 3x3000 | 9000р']
          .service__item(class=`service__item_${i}`)
            span.service__text=content[i - 1]
            button.service__btn-close.btn-close
          - }
      .payment__term
        p После оплаты вы получите уникальный номер сертификата на указанную вами сумму
      .payment__total.grid
        .total__item
          p.total__text Стоимость заказа:
            span.total__text_strong 14500 руб.
        .total__item
          p.total__text Сервисный сбор:
            span.total__text_strong 145 руб.
        .total__item
          p.total__text К оплате:
            span.total__text_strong 14645 руб.
      .payment__form
        .form__promocode
          button.form__btn-promo.btn У вас есть промокод?
        .form__data
          .data__item
            input(placeholder='Телефон').data__phone.data__input
            label.data__label
              input(type='checkbox').data__checkbox
              span.data__pseudo-checkbox
                span.data__checkmark
          .data__item
            input(placeholder='Email').data__email.data__input
            label.data__label
              input(type='checkbox').data__checkbox
              span.data__pseudo-checkbox
                span.data__checkmark
        .form__payment
          button.form__btn-payment.btn.btn_unactive Оплатить заказ
          p.form__notification Нажимая кнопку «Перейти к оплате» вы соглашаетесь
            a(href='#')  с условиями покупки билетов




