head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title VStyle
body
  .container
    .payment
      button.payment__btn-close
      a(href='#').payment__back
        span.back__arrow
        span.back__text Выбрать сертификат
      .payment__logo йиксниираМ ртает
        span.logo
      .payment__service-list.grid
        - let num = 5; for(let i = 1; i < num; i++) {
        - const content = ['Доставка | 1x1500 | 1500р', 'Сертификат| 2x1000 | 2000р', 'Сертификат| 4x500 | 2000р', 'Сертификат | 3x3000 | 9000р']
        .service__item(class=`service__item_${i}`)=content[i - 1]
          span.service__text
          button.service__btn-close
        - }





