@import "variables";
@import "mixins";


body {
  font-family: $font-family;
  overflow-x: hidden;
  background-color: $bgGrayColor;
}

.container {
  background-color: #fff;
  max-width: 1100px;
  width: 100%;
  margin: 100px auto;
}

.logo {
  display: block;
  border-radius: 50%;
  border: 2px solid $goldColor;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button, input {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

a:focus, button:focus, button:active, input:focus {
  outline: none;
}

.btn {
  background-color: $aokuchibaColor;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  height: 52px;
  letter-spacing: 1px;
  line-height: 52px;
  max-width: 230px;
  text-align: center;
  text-transform: uppercase;
  transition: $trans;
  width: 100%;
  &:hover {
    background-color: $darkAokuchibaColor;
  }

  &_unactive {
    background-color: $lightAokuchibaColor;
    cursor: not-allowed;
    &:hover {
      background-color: $lightAokuchibaColor;
    }
  }

  @include mobile {
    max-width: 338px;
  }
}

.btn-close {
  text-align: center;
  &:before, &:after {
    border-radius: 1px;
    content: '';
    display: inline-block;
    height: 20px;
    width: 2px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.grid {
  display: flex;
  .grid-1-1 {
    width: 100%;
  }
  .grid-1-2 {
    width: 50%;
  }
  .grid-1-3 {
    width: 33.3333%
  }
  .grid-1-5 {
    width: 20%;
  }
  .grid-2-3 {
    width: 66.6666%;
  }
  .grid-2-5 {
    width: 40%;
  }
  .grid-3-5 {
    width: 60%;
  }
  .grid-4-5 {
    width: 80%;
  }
}


